In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics

import main

In [7]:
## Start of Notebook

print('Starting Assignment 1')
RawData = main.ReadInData("../data/tcd ml 2019-20 income prediction training (with labels).csv")
print(RawData.shape)
print(RawData.describe())

## Might not need this line here. Just a precaution for NaN.
# if trainingData.isnull().any:
#     trainingData = trainingData.fillna(method='ffill')

Starting Assignment 1
(111993, 12)
            Instance  Year of Record            Age  Size of City  \
count  111993.000000   111552.000000  111499.000000  1.119930e+05
mean    55997.000000     1999.421274      37.345304  8.388538e+05
std     32329.738686       11.576382      16.036694  2.196879e+06
min         1.000000     1980.000000      14.000000  7.700000e+01
25%     27999.000000     1989.000000      24.000000  7.273400e+04
50%     55997.000000     1999.000000      35.000000  5.060920e+05
75%     83995.000000     2009.000000      48.000000  1.184501e+06
max    111993.000000     2019.000000     115.000000  4.999251e+07

       Wears Glasses  Body Height [cm]  Income in EUR
count  111993.000000     111993.000000   1.119930e+05
mean        0.500531        175.220192   1.092138e+05
std         0.500002         19.913889   1.498024e+05
min         0.000000         94.000000  -5.696906e+03
25%         0.000000        160.000000   3.077169e+04
50%         1.000000        174.000000   5.733917e+04
75%         1.000000        190.000000   1.260936e+05
max         1.000000        265.000000   5.285252e+06

In [8]:
## Section to conver to binary matrix
## Changing Gender, Country, Profession

RawData_Gender = pd.get_dummies(RawData.Gender)
print(RawData_Gender)

        0  female  male  other  unknown
0       1       0     0      0        0
1       0       0     0      1        0
2       0       0     0      1        0
3       0       0     0      1        0
4       0       1     0      0        0
...    ..     ...   ...    ...      ...
111988  0       1     0      0        0
111989  0       1     0      0        0
111990  0       1     0      0        0
111991  0       0     0      1        0
111992  0       1     0      0        0

[111993 rows x 5 columns]

In [10]:
RawData.describe()

,Instance,Year of Record,Age,Size of City,Wears Glasses,Body Height [cm],Income in EUR
count,111993.000000,111552.000000,111499.000000,1.119930e+05,111993.000000,111993.000000,1.119930e+05
mean,55997.000000,1999.421274,37.345304,8.388538e+05,0.500531,175.220192,1.092138e+05
std,32329.738686,11.576382,16.036694,2.196879e+06,0.500002,19.913889,1.498024e+05
min,1.000000,1980.000000,14.000000,7.700000e+01,0.000000,94.000000,-5.696906e+03
25%,27999.000000,1989.000000,24.000000,7.273400e+04,0.000000,160.000000,3.077169e+04
50%,55997.000000,1999.000000,35.000000,5.060920e+05,1.000000,174.000000,5.733917e+04
75%,83995.000000,2009.000000,48.000000,1.184501e+06,1.000000,190.000000,1.260936e+05
max,111993.000000,2019.000000,115.000000,4.999251e+07,1.000000,265.000000,5.285252e+06

In [11]:
RawData_Gender.describe()

,0,female,male,other,unknown
count,111993.000000,111993.000000,111993.000000,111993.000000,111993.000000
mean,0.006465,0.242604,0.381792,0.241622,0.061156
std,0.080143,0.428660,0.485828,0.428068,0.239617
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,1.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000