In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn import metrics

import main

In [2]:
## Start of Notebook

print('Starting Assignment 1')
RawData = main.ReadInData("../data/tcd ml 2019-20 income prediction training (with labels).csv")
print(RawData.shape)
print(RawData.describe())

Starting Assignment 1
(111993, 12)
            Instance  Year of Record            Age  Size of City  \
count  111993.000000   111552.000000  111499.000000  1.119930e+05
mean    55997.000000     1999.421274      37.345304  8.388538e+05
std     32329.738686       11.576382      16.036694  2.196879e+06
min         1.000000     1980.000000      14.000000  7.700000e+01
25%     27999.000000     1989.000000      24.000000  7.273400e+04
50%     55997.000000     1999.000000      35.000000  5.060920e+05
75%     83995.000000     2009.000000      48.000000  1.184501e+06
max    111993.000000     2019.000000     115.000000  4.999251e+07

       Wears Glasses  Body Height [cm]  Income in EUR
count  111993.000000     111993.000000   1.119930e+05
mean        0.500531        175.220192   1.092138e+05
std         0.500002         19.913889   1.498024e+05
min         0.000000         94.000000  -5.696906e+03
25%         0.000000        160.000000   3.077169e+04
50%         1.000000        174.000000   5.733917e+04
75%         1.000000        190.000000   1.260936e+05
max         1.000000        265.000000   5.285252e+06

In [3]:
## Dropping Features that are missing a large amount of data
## Dropping instances with missing data

RawData = main.HandleMissingData(RawData)

null_counts = RawData.isnull().sum()
print("Number of null values in each column:\n{}".format(null_counts))

37
1999.4212743832472
Number of null values in each column:
Year of Record       0
Gender               0
Age                  0
Country              0
Size of City         0
Profession           0
University Degree    0
Wears Glasses        0
Body Height [cm]     0
Income in EUR        0
dtype: int64

In [4]:
## Seeing the data and the unique values

for s in RawData.columns.values:
    print("Features in " + s)
    print(RawData[s].unique())
    print(len(RawData[s].unique()))

Features in Year of Record
[1997. 1996. 2018. 2006. 2010. 1991. 1982. 2008. 2015. 2019. 1981. 1989.
 2003. 1987. 1995. 1992. 1980. 1983. 2011. 2014. 1985. 2005. 1998. 2001.
 2017. 2007. 1988. 1994. 2012. 2009. 2013. 2004. 1999. 2002. 1993. 2000.
 1990. 2016. 1986. 1984.]
40
Features in Gender
['0' 'other' 'female' 'male' 'unknown']
5
Features in Age
[ 41.  28.  33.  46.  60.  71.  36.  43.  16.  51.  15.  22.  32.  40.
  31.  27.  25.  35.  63.  38.  34.  20.  23.  14.  37.  62.  52.  47.
  24.  26.  50.  49.  18.  19.  39.  66.  21.  44.  29.  64.  65.  53.
  78.  42.  58.  17.  30.  79.  48.  56.  83.  54.  74.  87.  90.  67.
  45.  77.  73.  55.  92.  80.  72.  57.  70.  59.  61.  82.  69.  98.
  94.  68.  81.  97.  76.  75.  88.  91.  96.  84.  89. 107.  85.  86.
 100. 110.  95.  99.  93. 104. 102. 101. 105. 111. 108. 103. 109. 106.
 115.]
99
Features in Country
['Belarus' 'Singapore' 'Norway' 'Cuba' 'United Arab Emirates' 'Liberia'
 'State of Palestine' 'Israel' 'South Sudan' 'Kyrgyzstan' 'Togo' 'Finland'
 'Sierra Leone' 'Papua New Guinea' 'Czechia' 'Paraguay' 'Belgium'
 'Costa Rica' 'Senegal' 'Congo' 'Slovakia' 'Burundi' 'Portugal' 'Tunisia'
 'Lebanon' 'Azerbaijan' 'Chile' 'Botswana' 'Jordan' 'Zimbabwe' 'Rwanda'
 'Greece' 'Turkmenistan' 'Sweden' 'El Salvador' 'Somalia' 'Haiti'
 'Tajikistan' 'Hungary' 'Peru' 'Laos' 'Austria' 'Bolivia' 'Kazakhstan'
 'Nicaragua' 'Moldova' 'Gabon' 'Bulgaria' 'Namibia' 'Croatia'
 'Central African Republic' 'Ghana' 'Denmark' 'Cambodia' 'Netherlands'
 'Niger' 'Mozambique' 'Ireland' 'Mongolia' 'Luxembourg' 'Benin' 'Kuwait'
 'Serbia' 'Chad' 'North Korea' 'Dominican Republic' 'Burkina Faso'
 'Switzerland' 'Ecuador' 'Honduras' 'Libya' 'Syria' 'Uruguay' 'Qatar'
 'Mauritania' 'Jamaica' 'Guinea-Bissau' 'Panama' 'Cameroon'
 'Bosnia and Herzegovina' 'North Macedonia' 'Oman' 'Eritrea' 'Australia'
 'Guinea' 'Saudi Arabia' 'Albania' 'Slovenia' 'Lesotho' 'Malawi' 'Morocco'
 'Georgia' 'New Zealand' 'Argentina' 'Uzbekistan' 'Guatemala' 'Zambia'
 'Gambia' 'Trinidad and Tobago' 'Timor-Leste' 'Mali' "Côte d'Ivoire"
 'Yemen' 'Eswatini' 'Venezuela' 'Armenia' 'Nepal' 'Sri Lanka' 'Bahrain'
 'Cyprus' 'Romania' 'Lithuania' 'Madagascar' 'Mauritius'
 'Equatorial Guinea' 'Ukraine' 'Latvia' 'Fiji' 'Comoros' 'Estonia'
 'Poland' 'Canada' 'Djibouti' 'Angola' 'Malaysia' 'Guyana' 'Barbados'
 'Spain' 'Afghanistan' 'Iraq' 'Bhutan' 'Saint Lucia' 'South Korea'
 'Cabo Verde' 'Bahamas' 'Colombia' 'Montenegro' 'Tanzania'
 'Solomon Islands' 'Suriname' 'Uganda' 'Malta' 'Algeria' 'Sudan' 'Brunei'
 'Maldives' 'Belize' 'Vanuatu' 'Tonga' 'Thailand' 'Micronesia' 'Grenada'
 'DR Congo' 'Seychelles' 'South Africa' 'Kenya' 'Kiribati'
 'United Kingdom' 'Vietnam' 'Myanmar']
160
Features in Size of City
[1239930 1603504 1298017 ...   60848  848640  325590]
104349
Features in Profession
['steel workers' 'safe event coordinator' 'receivables/payables analyst'
 ... 'blake fellow' 'accountant' 'audit supervisor']
1341
Features in University Degree
['Bachelor' 'Master' 'PhD' 'No' '0']
5
Features in Wears Glasses
[0 1]
2
Features in Body Height [cm]
[193 186 170 171 188 181 174 190 189 157 208 191 198 182 165 152 201 167
 185 154 179 177 153 180 139 206 163 161 219 213 192 151 149 150 204 199
 155 147 160 173 205 196 176 146 183 178 156 159 175 203 168 224 158 141
 187 164 172 140 202 210 236 143 184 215 230 169 162 232 145 121 166 137
 200 211 207 197 195 209 129 194 148 221 220 214 131 136 142 138 116 212
 120 144 133 132 123 217 127 135 134 128 111 225 125 229 218 222 216 226
 227 235 126 239 233 228 234 238 130 223 231 237 124 110 107 244 242 115
 106 118 114 122 119 251 113 117 255 243 104 241 101 105 245 265 246 240
 247 108 256  95 248 249 250 109 253 261  94 112]
156
Features in Income in EUR
[ 61031.94416  91001.32764 157982.1767  ... 289951.3294  100046.5278
 145886.2885 ]
111991

In [7]:
## Section to conver to binary matrix
## Changing Country, Profession

RawData_Country = pd.get_dummies(RawData.Country)
print(type(RawData_Country))
RawData_Profession = pd.get_dummies(RawData.Profession)
print(type(RawData_Profession))
RawData_Gender = pd.get_dummies(RawData['Gender'])
print(RawData_Gender.describe())
RawData_Uni = pd.get_dummies(RawData['University Degree'])
print(RawData_Uni.describe())

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
                   0         female           male          other  \
count  111993.000000  111993.000000  111993.000000  111993.000000
mean        0.006465       0.242604       0.381792       0.241622
std         0.080143       0.428660       0.485828       0.428068
min         0.000000       0.000000       0.000000       0.000000
25%         0.000000       0.000000       0.000000       0.000000
50%         0.000000       0.000000       0.000000       0.000000
75%         0.000000       0.000000       1.000000       0.000000
max         1.000000       1.000000       1.000000       1.000000

             unknown
count  111993.000000
mean        0.127517
std         0.333553
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000
                   0       Bachelor         Master             No  \
count  111993.000000  111993.000000  111993.000000  111993.000000
mean        0.006224       0.385488       0.240560       0.306823
std         0.078644       0.486713       0.427425       0.461177
min         0.000000       0.000000       0.000000       0.000000
25%         0.000000       0.000000       0.000000       0.000000
50%         0.000000       0.000000       0.000000       0.000000
75%         0.000000       1.000000       0.000000       1.000000
max         1.000000       1.000000       1.000000       1.000000

                 PhD
count  111993.000000
mean        0.060906
std         0.239158
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000

In [6]:
RawData.describe()

,Year of Record,Age,Size of City,Wears Glasses,Body Height [cm],Income in EUR
count,111993.000000,111993.000000,1.119930e+05,111993.000000,111993.000000,1.119930e+05
mean,1999.419616,37.343780,8.388538e+05,0.500531,175.220192,1.092138e+05
std,11.553597,16.001302,2.196879e+06,0.500002,19.913889,1.498024e+05
min,1980.000000,14.000000,7.700000e+01,0.000000,94.000000,-5.696906e+03
25%,1989.000000,24.000000,7.273400e+04,0.000000,160.000000,3.077169e+04
50%,1999.000000,35.000000,5.060920e+05,1.000000,174.000000,5.733917e+04
75%,2009.000000,48.000000,1.184501e+06,1.000000,190.000000,1.260936e+05
max,2019.000000,115.000000,4.999251e+07,1.000000,265.000000,5.285252e+06

In [8]:
## Creating clean training data
print(RawData.columns)

RawData = pd.concat([RawData, RawData_Country], axis=1)
RawData= RawData.drop('Country', axis=1)
RawData = pd.concat([RawData, RawData_Profession], axis=1)
RawData= RawData.drop('Profession', axis=1)
RawData = pd.concat([RawData, RawData_Gender], axis=1)
RawData= RawData.drop('Gender', axis=1)
RawData = pd.concat([RawData, RawData_Uni], axis=1)
RawData= RawData.drop('University Degree', axis=1)

Index(['Year of Record', 'Gender', 'Age', 'Country', 'Size of City',
       'Profession', 'University Degree', 'Wears Glasses', 'Body Height [cm]',
       'Income in EUR'],
      dtype='object')

In [9]:
RawData.describe()

,Year of Record,Age,Size of City,Wears Glasses,Body Height [cm],Income in EUR,Afghanistan,Albania,Algeria,Angola,...,0,female,male,other,unknown,0,Bachelor,Master,No,PhD
count,111993.000000,111993.000000,1.119930e+05,111993.000000,111993.000000,1.119930e+05,111993.000000,111993.000000,111993.000000,111993.000000,...,111993.000000,111993.000000,111993.000000,111993.000000,111993.000000,111993.000000,111993.000000,111993.000000,111993.000000,111993.000000
mean,1999.419616,37.343780,8.388538e+05,0.500531,175.220192,1.092138e+05,0.000196,0.003554,0.000063,0.000473,...,0.006465,0.242604,0.381792,0.241622,0.127517,0.006224,0.385488,0.240560,0.306823,0.060906
std,11.553597,16.001302,2.196879e+06,0.500002,19.913889,1.498024e+05,0.014014,0.059508,0.007906,0.021749,...,0.080143,0.428660,0.485828,0.428068,0.333553,0.078644,0.486713,0.427425,0.461177,0.239158
min,1980.000000,14.000000,7.700000e+01,0.000000,94.000000,-5.696906e+03,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1989.000000,24.000000,7.273400e+04,0.000000,160.000000,3.077169e+04,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1999.000000,35.000000,5.060920e+05,1.000000,174.000000,5.733917e+04,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2009.000000,48.000000,1.184501e+06,1.000000,190.000000,1.260936e+05,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000
max,2019.000000,115.000000,4.999251e+07,1.000000,265.000000,5.285252e+06,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [10]:
## Output Training Data to new file
RawData.to_csv("../data/processedData3.csv", index=False)

In [11]:
## Read in new data and model

CleanData = main.ReadInData("../data/processedData3.csv")

In [12]:
CleanData.head(5)

,Year of Record,Age,Size of City,Wears Glasses,Body Height [cm],Income in EUR,Afghanistan,Albania,Algeria,Angola,...,0,female,male,other,unknown,0.1,Bachelor,Master,No.1,PhD
0,1997.0,41.0,1239930,0,193,61031.94416,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0
1,1996.0,41.0,1603504,0,186,91001.32764,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
2,2018.0,28.0,1298017,1,170,157982.17670,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
3,2006.0,33.0,751903,1,171,45993.75793,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
4,2010.0,46.0,95389,0,188,38022.16217,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0

In [14]:
income = CleanData['Income in EUR']
features = CleanData.drop(labels=['Income in EUR'], axis=1)

features.head(5)

,Year of Record,Age,Size of City,Wears Glasses,Body Height [cm],Afghanistan,Albania,Algeria,Angola,Argentina,...,0,female,male,other,unknown,0.1,Bachelor,Master,No.1,PhD
0,1997.0,41.0,1239930,0,193,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0
1,1996.0,41.0,1603504,0,186,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
2,2018.0,28.0,1298017,1,170,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
3,2006.0,33.0,751903,1,171,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
4,2010.0,46.0,95389,0,188,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0

In [15]:
## Splitting Data

features_train, features_val, income_train, income_val = train_test_split(features, income, test_size=0.2, random_state=0)

In [16]:
## Using Linear Regression

model = LinearRegression()
model.fit(features_train, income_train)

print(model.coef_)
print(model.intercept_)

## Using Ridge Regression 
rig_model = Ridge()
rig_model.fit(features_train, income_train)

print(rig_model.coef_)
print(rig_model.intercept_)

[ 2.12301230e+03  1.73135494e+03  1.22143779e-03 ... -1.23877239e+03
 -2.01285424e+04  9.14080775e+03]
-3916803.2904492216
[ 2.13095070e+03  1.73200575e+03  1.21776569e-03 ... -1.21027386e+03
 -2.01822253e+04  9.06857502e+03]
-3989075.379399341

/Users/calebteo/python_env/CS4/lib/python3.7/site-packages/sklearn/linear_model/ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=2.29404e-18): result may not be accurate.
  overwrite_a=True).T

In [17]:
## Predict with the validation data

income_predict = model.predict(features_val)
comparison = pd.DataFrame({'Actual': income_val, 'Predicted': income_predict})

comparison

income_predict_rig = rig_model.predict(features_val)

In [ ]:
## Graphing Difference 

df1 = comparison.head(25)
df1.plot(kind='bar',figsize=(16,10))
plt.grid(which='major', linestyle='-', linewidth='0.5', color='green')
plt.grid(which='minor', linestyle=':', linewidth='0.5', color='black')
plt.show()

In [18]:
print('Mean Absolute Error:', metrics.mean_absolute_error(income_val, income_predict))  
print('Mean Squared Error:', metrics.mean_squared_error(income_val, income_predict))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(income_val, income_predict)))

## Mean Absolute Error: 43557.00458896904
# Mean Squared Error: 7422065078.367375
# Root Mean Squared Error: 86151.40787223025

print('Mean Absolute Error:', metrics.mean_absolute_error(income_val, income_predict_rig))  
print('Mean Squared Error:', metrics.mean_squared_error(income_val, income_predict_rig))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(income_val, income_predict_rig)))

# Mean Absolute Error: 42800.374852794565
# Mean Squared Error: 6624261842.145419
# Root Mean Squared Error: 81389.56838652863

## With Gender and University Degree
## STANDARD
# Mean Absolute Error: 42683.66765298456
# Mean Squared Error: 6611260404.6631155
# Root Mean Squared Error: 81309.65751165796

## RIDGE
# Mean Absolute Error: 42466.72095408424
# Mean Squared Error: 6546309166.8984585
# Root Mean Squared Error: 80909.26502507892

Mean Absolute Error: 42683.66765298456
Mean Squared Error: 6611260404.6631155
Root Mean Squared Error: 81309.65751165796
Mean Absolute Error: 42466.72095408424
Mean Squared Error: 6546309166.8984585
Root Mean Squared Error: 80909.26502507892

In [ ]:
## Read in Test and try to map
## Cell used to explore difference in Train data and Test data

TestData = main.ReadInData("../data/tcd ml 2019-20 income prediction test (without labels).csv")
TestData.head(5)

In [ ]:
## Comparing Training and Test (Country)
print(TestData['Country'].unique())
print("Test Shape " + str(len(TestData['Country'].unique())))
Raw = main.ReadInData("../data/tcd ml 2019-20 income prediction training (with labels).csv")
print(Raw['Country'].unique())
print("Raw Shape " + str(len(Raw['Country'].unique())))

print(TestData['Country'].equals(Raw['Country']))

## Test has less than 3 to Training

In [ ]:
## Comparing Training and Test (Profession)
print(TestData['Profession'].unique())
print("Test Shape " + str(len(TestData['Profession'].unique())))
print(Raw['Profession'].unique())
print("Raw Shape " + str(len(Raw['Profession'].unique())))

print(TestData['Profession'].equals(Raw['Profession']))

## Test Data has less 15 to Training

In [ ]:
## Comparing Training and Test (University Degree)
print(TestData['University Degree'].unique())
print("Test Shape " + str(len(TestData['University Degree'].unique())))
print(Raw['University Degree'].unique())
print("Raw Shape " + str(len(Raw['University Degree'].unique())))

print(TestData['University Degree'].equals(Raw['University Degree']))

In [ ]:
## Cell to Compare what is in Test and Trainning Data

Diff = pd.DataFrame(columns=['Unique_C_InTest', 'Unique_C_InTrain','Unique_P_InTest', 'Unique_P_InTrain'])

Diff = pd.DataFrame()
Diff['Unique_C_InTest'] = TestData["Country"][~TestData["Country"].isin(Raw["Country"])].drop_duplicates()
print(Diff['Unique_C_InTest'])
print(str(len(Diff['Unique_C_InTest'])))

Diff = pd.DataFrame()
Diff['Unique_P_InTest',] = TestData["Profession"][~TestData["Profession"].isin(Raw["Profession"])].drop_duplicates()
print(Diff['Unique_P_InTest',])
print(str(len(Diff['Unique_P_InTest',])))

Diff = pd.DataFrame()
Diff['Unique_C_InTrain'] = Raw["Country"][~Raw["Country"].isin(TestData["Country"])].drop_duplicates()
print(Diff['Unique_C_InTrain'])
print(str(len(Diff['Unique_C_InTrain'])))

Diff = pd.DataFrame()
Diff['Unique_P_InTrain'] = Raw["Profession"][~Raw["Profession"].isin(TestData["Profession"])].drop_duplicates()
print(Diff['Unique_P_InTrain'])
print(str(len(Diff['Unique_P_InTrain'])))

In [22]:
## Cell used to test MapColVarToMap
## Main Cell to Clean Test Data

Raw = main.ReadInData("../data/tcd ml 2019-20 income prediction training (with labels).csv")
test = main.ReadInData("../data/tcd ml 2019-20 income prediction test (without labels).csv")
test = main.HandleMissingData(test)
CleanTest = test.drop('Country', axis=1)
CleanTest = CleanTest.drop('Profession', axis=1)
CleanTest = CleanTest.drop('Gender', axis=1)
CleanTest = CleanTest.drop('University Degree', axis=1)
CleanTest = CleanTest.drop('Income', axis=1)

# Profession's NaN must be will with No, to allow function MapColVarToModelInput to sort columns
Raw = main.HandleMissingData(Raw)

# Create 1st DF as copy. Create 2nd DF with encoding. Cat together

countryDf = main.MapColVarToModelInputs(Raw, test, 'Country')
professionDf = main.MapColVarToModelInputs(Raw, test, 'Profession')
genderDf = main.MapColVarToModelInputs(Raw, test, 'Gender')
uniDf = main.MapColVarToModelInputs(Raw, test, 'University Degree')

print(CleanTest.columns)
TestInputs = pd.concat([CleanTest, countryDf], axis=1)
TestInputs = pd.concat([TestInputs, professionDf], axis=1)
TestInputs = pd.concat([TestInputs, genderDf], axis=1)
TestInputs = pd.concat([TestInputs, uniDf], axis=1)
print(TestInputs.columns)

37
1999.5144306574348
37
1999.4212743832472
Index(['Year of Record', 'Age', 'Size of City', 'Wears Glasses',
       'Body Height [cm]'],
      dtype='object')
Index(['Year of Record', 'Age', 'Size of City', 'Wears Glasses',
       'Body Height [cm]', 'Afghanistan', 'Albania', 'Algeria', 'Angola',
       'Argentina',
       ...
       '0', 'female', 'male', 'other', 'unknown', '0', 'Bachelor', 'Master',
       'No', 'PhD'],
      dtype='object', length=1516)

In [ ]:
print(professionDf.head(5))
print(countryDf.head(5))
print(count)

In [23]:
TestInputs.to_csv("../data/processedTest_2.csv", index=False)

In [24]:
TestInputs = main.ReadInData('../data/processedTest_2.csv')

In [25]:
## Linear Regression

test_prediction = model.predict(TestInputs)
test_prediction

array([ 19737.88271202, -29877.29642966,  41823.82312832, ...,
        90269.48505241, 214474.28320157, 175933.46700136])

In [ ]:
submit = main.ReadInData('../data/tcd ml 2019-20 income prediction submission file.csv')
submit['Income'] = np.round(test_prediction, 2)
submit.head(5)

In [49]:
submit.to_csv('../data/my_predictions_1.csv', index=False)

In [26]:
## Ridge Regression
test_prediction_rig = rig_model.predict(TestInputs)
print(test_prediction_rig)

submit = main.ReadInData('../data/tcd ml 2019-20 income prediction submission file.csv')
submit['Income'] = np.round(test_prediction_rig, 2)
submit.to_csv('../data/my_predictions_3.csv', index=False)

[ 19884.62821945 -29286.62045031  42183.25527298 ...  90595.93354971
 214614.86802798 176520.24790461]